.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.App section form {
  min-width: 25rem;
  margin: 0 auto;
  border: solid 1px #bdbdbd;
  border-radius: 8px;
  padding: 2rem;
}

form h1 {
  text-align: center;
  color: #ffffff;
}

form .form-wrapper {
  margin: 0 auto;
}


form .form-wrapper > div {
  margin-bottom: 1rem;
}

form .form-wrapper > div > label {
  margin-bottom: 0.5rem;
  color: #ffffff;
  display: block;
}

form .form-wrapper > div > input, form .form-wrapper > div > textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  outline: none;
  min-width: 20rem;
  font-family: Arial, Helvetica, sans-serif;
}

form .form-wrapper > div > button {
  padding: 1rem 2.5rem;
  color: white;
  background: rgb(4, 144, 199);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}